#lewo{
    position:absolute;
    width:50%;
    height: 100%;
    background-color: antiquewhite;
}

#prawo{
    position: absolute;
    width: 50%;
    height: 100%;
    left:50%;
    background-color: aqua;
}